<launch>
    <arg name="comport" default="/dev/ttyACM0" />
    <arg name="sampling_rate" default="1200" />
    <node name="leptrino" pkg="leptrino_force_torque" type="leptrino_force_torque"
        output="screen">
        <param name="com_port" value="$(arg comport)" />
        <param name="frame_id" value="leptrino" />
        <param name="rate" value="$(arg sampling_rate)" />
    </node>
</launch>  
   
  