<launch>
    <!-- You can select by id "/dev/serial/by-id/xxxx" -->
    <arg name="comport" default="/dev/ttyACM0" />
    <arg name="sampling_rate" default="1200" />
    <arg name="frame_id" default="leptrino" />
    <node name="leptrino" pkg="leptrino_force_torque" type="leptrino_force_torque"
        output="screen">
        <param name="com_port" value="$(arg comport)" />
        <param name="frame_id" value="$(arg frame_id)" />
        <param name="rate" value="$(arg sampling_rate)" />
    </node>
</launch>  
   
  
